@font-face {
  font-family: 'FuturaBookC';
  src: url("assets/fonts/FuturaBookC");
  font-weight: normal;
  font-style: normal;
}

.wrapper-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1444px;
  background-color: #131313;
  margin: 0 auto;
}

.wrapper-body .header {
  width: inherit;
}

.wrapper-body .header__navbar {
  height: 83px;
  color: #FFFFFF;
  font-family: "FuturaBookC";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  text-transform: uppercase;
  vertical-align: center;
}

.wrapper-body .header__navbar_item {
  width: 1440px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: FuturaBookC;
  font-size: 14px;
  line-height: 16px;
}

.wrapper-body .header__navbar_item_home {
  -ms-flex-line-pack: start;
      align-content: flex-start;
  color: #E3B873;
}

.wrapper-body .header__navbar_item_selected {
  text-decoration: underline;
  color: #E3B873;
}

.wrapper-body .header__navbar_item_item:first-child {
  font-family: FuturaDemiC;
  font-size: 14px;
  line-height: 16px;
  color: #E3B873;
}

.wrapper-body .header__navbar_item_button {
  vertical-align: middle;
  line-height: 37px;
  text-align: center;
  width: 161px;
  background-color: #E3B873;
}

.wrapper-body .header__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
}

.wrapper-body .header__slider_instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #E3B873;
  width: 82px;
}

.wrapper-body .header__slider_instagram p {
  font-size: 14px;
  text-transform: uppercase;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.wrapper-body .header__slider_instagram_img {
  margin-top: 40px;
}

.wrapper-body .header__slider_box {
  padding: 60px;
  color: #FFFFFF;
  text-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 707px;
  width: 1358px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("./assets/images/bg_header_slider_box.png");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./assets/images/bg_header_slider_box.png");
  background-size: cover;
}

.wrapper-body .header__slider_box_p1 {
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
}

.wrapper-body .header__slider_box_p1 span {
  color: #E3B873;
}

.wrapper-body .header__slider_box_p2 {
  font-family: FuturaBookC;
  font-size: 22px;
  line-height: 30px;
}

.wrapper-body .header__slider_box_button {
  width: 500px;
  font-family: FuturaDemiC;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.wrapper-body .header__slider_box_button_1 {
  vertical-align: middle;
  line-height: 51px;
  display: block;
  width: 207px;
  height: 51px;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  background-color: #E3B873;
}

.wrapper-body .header__slider_box_button_2 {
  vertical-align: middle;
  line-height: 51px;
  display: block;
  width: 207px;
  height: 51px;
  width: 207px;
  height: 51px;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  background-color: none;
}

.wrapper-body .header__scrolldown {
  position: absolute;
  z-index: 1;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #131313;
  width: 247px;
  height: 97px;
  margin-top: -47px;
}

.wrapper-body .header__scrolldown a {
  color: #FFFFFF;
}

.wrapper-body .section-one {
  color: #FFFFFF;
  height: 1072px;
  width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper-body .section-one__navbar {
  margin-left: 40%;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  width: 623px;
  height: 24px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper-body .section-one__slider-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper-body .section-one__slider-one_1 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper-body .section-one__slider-one_1_project {
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: #E3B873;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.wrapper-body .section-one__slider-one_1_p {
  font-family: FuturaBookC;
  font-size: 18px;
  line-height: 29px;
}

.wrapper-body .section-one__slider-one_1_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.wrapper-body .section-one__slider-one_1_block_item {
  width: 45%;
  font-family: FuturaBookC;
  font-size: 15px;
  line-height: 20px;
}

.wrapper-body .section-one__slider-one_1_block_item :first-child {
  color: #E3B873;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}

.wrapper-body .section-one__slider-one_2 {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  width: 679px;
  background-image: url("./assets/images/SectionOneSliderOne.png");
  background-size: unset;
}

.wrapper-body .section-one__slider-one_3 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-image: url("/assets/images/SectionOneSlider1_3.png");
}

.h_line {
  margin-top: 21%;
  margin-left: 10%;
  width: 92px;
  height: 1px;
  background: #E3B873;
}

body {
  background-color: dimgrey;
}
/*# sourceMappingURL=styles.css.map */