@font-face {
    font-family: 'FuturaBookC';
    src: url("assets/fonts/FuturaBookC");
    font-weight: normal;
    font-style: normal;
}

.wrapper-body {
    display: flex;
    flex-direction: column;
    width: 1444px;
    background-color: #131313;
    margin: 0 auto;

    .header {
        width: inherit;

        &__navbar {
            height: 83px;
            color: #FFFFFF;
            font-family: "FuturaBookC";
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-content: center;
            text-transform: uppercase;
            vertical-align: center;

            &_item {
                width: 1440px;
                list-style: none;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                font-family: FuturaBookC;
                font-size: 14px;
                line-height: 16px;

                &_home {
                    align-content: flex-start;
                    color: #E3B873;
                }

                &_selected {
                    text-decoration: underline;
                    color: #E3B873;
                }

                &_item:first-child {
                    font-family: FuturaDemiC;
                    font-size: 14px;
                    line-height: 16px;
                    color: #E3B873;
                }

                &_button {
                    vertical-align: middle;
                    line-height: 37px;
                    text-align: center;
                    width: 161px;
                    background-color: #E3B873;
                }
            }
        }

        &__slider {
            display: flex;
            flex-direction: row;
            text-align: center;

            &_instagram {
                display: flex;
                flex-direction: column;
                align-content: center;
                justify-content: center;
                align-items: center;
                color: #E3B873;
                width: 82px;

                & p {
                    font-size: 14px;
                    text-transform: uppercase;
                    transform: rotate(-90deg);
                }

                &_img {
                    margin-top: 40px;
                }
            }

            &_box {
                padding: 60px;
                color: #FFFFFF;
                text-align: start;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                height: 707px;
                width: 1358px;
                background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./assets/images/bg_header_slider_box.png");
                background-size: cover;

                &_p1 {
                    font-size: 40px;
                    line-height: 53px;
                    text-transform: uppercase;

                    & span {
                        color: #E3B873;
                    }
                }

                &_p2 {
                    font-family: FuturaBookC;
                    font-size: 22px;
                    line-height: 30px;
                }

                &_button {
                    width: 500px;
                    font-family: FuturaDemiC;
                    font-size: 13px;
                    line-height: 15px;
                    text-align: center;
                    display: flex;
                    justify-content: space-around;

                    &_1 {
                        vertical-align: middle;
                        line-height: 51px;
                        display: block;
                        width: 207px;
                        height: 51px;
                        border: 1px solid #FFFFFF;
                        border-radius: 2px;
                        background-color: #E3B873;
                    }

                    &_2 {
                        vertical-align: middle;
                        line-height: 51px;
                        display: block;
                        width: 207px;
                        height: 51px;
                        width: 207px;
                        height: 51px;
                        border: 1px solid #FFFFFF;
                        border-radius: 2px;
                        background-color: none;
                    }
                }
            }
        }

        &__scrolldown {
            position: absolute;
            z-index: 1;
            font-family: Yeseva One;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 19px;
            text-transform: uppercase;
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: #131313;
            width: 247px;
            height: 97px;
            margin-top: -47px;

            & a {
                color: #FFFFFF;
            }
        }
    }

    .section-one {
        color: #FFFFFF;
        height: 1072px;
        width: 1440px;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;

        &__navbar {
            margin-left: 40%;
            font-family: Yeseva One;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 19px;
            text-transform: uppercase;
            width: 623px;
            height: 24px;
            list-style: none;
            display: flex;
            justify-content: space-between;
        }

        &__slider-one {
            display: flex;
            justify-content: space-between;

            &_1 {
                flex: 2;
                padding-left: 5%;
                display: flex;
                flex-direction: column;

                &_project {
                    font-size: 27px;
                    line-height: 37px;
                    letter-spacing: -0.07em;
                    text-transform: uppercase;
                    color: #E3B873;
                    display: flex;
                    flex-direction: row;
                }

                &_p {
                    font-family: FuturaBookC;
                    font-size: 18px;
                    line-height: 29px;
                }

                &_block {
                    display: flex;
                    flex-direction: row;
                    flex-flow: wrap;

                    &_item {
                        width: 45%;
                        font-family: FuturaBookC;
                        font-size: 15px;
                        line-height: 20px;

                        & :first-child {
                            color: #E3B873;
                            font-family: Yeseva One;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 18px;
                            line-height: 25px;
                            text-transform: uppercase;
                        }
                    }
                }
            }

            &_2 {
                flex: 4;
                
                width: 679px;                
                background-image: url("./assets/images/SectionOneSliderOne.png");
            
                background-size:unset;
            }

            &_3 {
                
                flex: 1;
                
                background-image: url("/assets/images/SectionOneSlider1_3.png");
            }
        }
    }
}

.h_line {
    margin-top: 21%;
    margin-left: 10%;
    width: 92px;
    height: 1px;
    background: #E3B873;
}

body {
    background-color: dimgrey;
}
